%h2 New user
= form :action=>"/users" do
  %fieldset
    %legend User details
    %label{:for=>"user_name"} Name
    %br
    = text_field :name=>'user[name]', :id=>'user_name'
    %br
    %label{:for=>"user_display_name"} Display name
    %br
    = text_field :name=>'user[display_name]', :id=>'user_display_name'
    %br
    .buttons
      %button.positive{:type=>"submit"}
        %img{:src=>"/images/icons/accept.png", :alt=>""}/
        Save
      %a.button.negative{:href=>"#"}
        %img{:src=>"/images/icons/delete.png", :alt=>""}/
        Cancel